@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  @apply bg-pink-300;
}



.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}

.relative {
  position: relative;
}

.overflow-hidden {
  overflow: hidden;
}

.rounded-lg {
  border-radius: 0.5rem;
}
